<div class="tab-container">
  <div class="tab-wrap">
    <input id="TAB02-01" type="radio" name="TAB02" class="tab-switch" checked="checked" /><label class="tab-label" for="TAB02-01">訪問履歴</label>
    <div class="tab-content">
      <%= render "shared/visit_list" %>
    </div>

    <input id="TAB02-02" type="radio" name="TAB02" class="tab-switch" /><label class="tab-label" for="TAB02-02">見積り履歴</label>
    <div class="tab-content">
      <%= render "shared/call_list" %>
    </div>
  </div>
</div>