<% if admin_signed_in? || user_signed_in? %>
  <header>
    <div class="head" >
      <%= image_tag "logo_white.png", class: "logo" %>
      <% if admin_signed_in? %>
        <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
      <% end %>
      <% if user_signed_in? %>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      <% end %>
    </div>
  </header>
<% end %>