@charset "UTF-8";
.tab-wrap {
  background: White;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
  padding: 0 0 20px;
}

.tab-label {
  height: 35px;
  font-size: 25px;
  color: Gray;
  cursor: pointer;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-weight: 600;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  position: relative;
  text-align: center;
  -webkit-transition: cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  white-space: nowrap;
  -webkit-tap-highlight-color: transparent;
}

.tab-label:hover {
  background: rgba(0, 191, 255, 0.1);
}

.tab-switch:checked + .tab-label {
  color: #0099CC;
}

.tab-label::after {
  background: #0099CC;
  bottom: 0;
  content: '';
  display: block;
  height: 3px;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: cubic-bezier(0.4, 0, 0.2, 1) 0.2s 80ms;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 0.2s 80ms;
  width: 100%;
  z-index: 1;
}

.tab-switch:checked ~ .tab-label::after {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.tab-switch:checked + .tab-label::after {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.tab-content {
  height: 0;
  opacity: 0;
  padding: 0 20px;
  pointer-events: none;
  -webkit-transform: translateX(-30%);
          transform: translateX(-30%);
  -webkit-transition: opacity .3s 80ms, -webkit-transform .3s 80ms;
  transition: opacity .3s 80ms, -webkit-transform .3s 80ms;
  transition: transform .3s 80ms, opacity .3s 80ms;
  transition: transform .3s 80ms, opacity .3s 80ms, -webkit-transform .3s 80ms;
}

.tab-switch:checked ~ .tab-content {
  -webkit-transform: translateX(30%);
          transform: translateX(30%);
}

.tab-switch:checked + .tab-label + .tab-content {
  height: auto;
  opacity: 1;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  pointer-events: auto;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.tab-switch {
  display: none;
}

body {
  background: WhiteSmoke;
  font-family: sans-serif;
  margin: 10px;
}

/* ==============================
/* 幅と高さの設定
/* ============================== */
.tab-container,
.tab-content {
  width: 100vw;
}

.tab-wrap {
  width: 1000px;
}

/* ==============================
/* 追加(上書き有り)CSS
/* ============================== */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.tab-container {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  overflow-x: auto;
  position: relative;
}

.tab-wrap {
  -webkit-box-shadow: none;
          box-shadow: none;
  overflow: visible;
}

.tab-content {
  left: 0;
  position: -webkit-sticky;
  position: sticky;
}

.tab-wrap::before {
  content: '';
  height: 0;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: 100%;
}
/*# sourceMappingURL=tab.css.map */