$cOrange: orange;

.client_top {
  width: 100vw;
  height: 30vh;
  min-height: 180px;
  overflow: scroll;
  border-bottom: 2px dotted black;
  & .name {
    font-size: 20px;
    text-align: center;
  }
  & .info {
    height: 120px;
    display: flex;
    justify-content: center;

    & .info_box {
      width: 30%;
      height: 140px;
      font-size: 18px;
      
      & .link {
        background-color: white;
        color:gray;
        font-size: 13px;
        font-weight: 600;
        border: 2px solid gray;
        padding: 2px 4px;
        text-decoration: none;
        box-shadow: 1px 1px 0 0 black;
        &:hover{
          box-shadow: none;
          transform: translate(1px,1px);
        }
      }
      & .back_btn {
        background-color: white;
        color: $cOrange;
        text-align: center;
        font-size: 13px;
        font-weight: 600;
        height: 30px;
        padding: 3px 15px;
        margin: 10px 0 0 20px;
        border: 2px solid $cOrange;
        border-radius: 16px;
        cursor: pointer;
        text-decoration: none;
      }
    }
  }
}
