$cBlue: #0099CC;
.head {
  height: 50px;
  width: 100vw;
  background-color: $cBlue;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  & a {
    position: absolute;
    top: 25%;
    right: 2%;
    color: white;
    font-weight: 600;
    text-decoration: none;
  }
}